<!-- Pandemic World- Web Page -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flask Plotlyjs Example</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

  <div class="container">
    <div class="row">
      <!-- https://media.giphy.com/media/MIbfwYuaiXKIo/giphy.gif / https://media.giphy.com/media/3o6MbhDT8mNUv50FPi/giphy.gif  / style="background-image: url(https://media.giphy.com/media/26tk0pgnBm620hIeQ/giphy.gif); background-size: cover; background-position: center; height: 400px; width: 900px;" -->
      <div class="col-md-12 jumbotron text-center" style="background-image: url(https://media1.tenor.com/images/1c92b11ad24fcb4e4c1cd502e36b43cf/tenor.gif?itemid=3480388); background-size: cover; background-position: center; height: 400px;">
        <h1><font color="white"><b>Pandemic Dashboard</font></b></h1>
        <p><font color="white"><b>Use the Interactive Charts Below to Explore the Dataset</font></b></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="well">
          <h5>SELECT Sample:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Sample MetaData</h3>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>
      <div class="col-md-5">
        <div id="pie"></div>
      </div>
      <div class="col-md-5">
        <div id="gauge"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="bubble"></div>
    </div>
  </div>

  <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/bonus.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>